.detallepais {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 95%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardfont {
  border-style: solid;
  border-color: blue;
  background-color: rgba(255, 255, 255, 0.709);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 30%;
  height: 70%;
  align-items: center;
  animation-name: entrada-detail;
  animation-duration: 4s;
}

@keyframes entrada-detail {
  0% {
    opacity: 0%;
    margin-top: -50%;
  }
  100% {
    opacity: 100%;
  }
}

#imgdetail {
  margin-top: 20px;
  max-width: 70%;
  min-width: 70%;
  max-height: 35%;
  min-height: 35%;

}

.nombredetail {
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

.detalles {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}

.contdetalles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.salir {
  display: flex;
  width: 95%;
  align-items: flex-end;
}
.salirs {
  display: flex;
  width: 95%;
  align-items: flex-end;
}

.btnsalir {
  margin: 15px;
  background-color: black;
  border-radius: 12px;
}
.btnsalirs {
    margin: 15px;
    background-color: black;
    border-radius: 12px;
  }
