.contenedorListActividad {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  width: 60%;
  display: flex;
  height: 90px;
  border-radius: 12px;
  border-style: solid;
  border-color: red;
}
.contNomGr {
  background-color: black;
  height: 90px;
  width: 230px;
  color: white;
  font-weight: bold;
  border-radius: 9px;
}
.contDatosGr {
  margin-left: 30px;
  margin-right: 30px;
  width: 600px;
}
#nombreListActividad {
  font-size: 35px;
}
.etiquetaIden {
  font-size: 28px;
  margin-right: 10px;
}
.datoActividadlist {
  font-size: 25px;
  margin-right: 10px;
}
.contPaisesGr{
    background-color: black;
    border-radius: 12px;
    width: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.contBotonesList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}
#btnEliminarActividad{
border-radius: 100%;
background-color: red;
color: black;
border-style: none;
font-size: 25px;
font-weight: bold;
}

#btnEditarActividad{
    border-radius: 0px;
    background-color: rgba(240, 248, 255, 0);
    background-image: url("../../img/lapiz.png");
    background-size: cover;
    width: 33px;
    height: 33px;
    border-style: none;
}