.navf{
    height: 45px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    color: blue;
}
.navfs{
    height: 45px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    color: green;
}
.navfe{
    height: 45px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    color: red;
}
.navfide{
    height: 45px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    color: rgb(229, 229, 1);
}

.btnnav{
    background-color: rgb(173, 173, 173);
    height: 100%;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.btnnav:hover{
    background-color: black;
    height: 100%;
    border: none;
    font-size: 15px;
    color: rgb(173, 173, 173);
    font-weight: bold;
}

#navtxt{
    font-size: 38px;
    margin-left: 3px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#imgpng{
    max-height: 33px ;
    min-height: 33px ;
    max-width: 33px;
    min-width: 33px;
}