.CardPaisHome{
    background-color: rgba(0, 0, 0, 0.917);
    height: 280px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 45px;
    margin-top: 30px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 2px;
    border-style: solid;
    border-color: blue;
}

.imgCard{
    margin-top: 10px;
    min-height:150px ;
    max-height: 150px; 
    max-width: 250px;
    min-width: 250px;
}
#nombreDePais{
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}
#continenteDePais{
    margin: 10px;
    color: rgb(199, 199, 199);
}

a:link, a:visited, a:active {
    text-decoration:none;
}